<div class="row">
  <div class="col-sm-3">
    <div class="hidden-xs">
      <h2>Announcements</h2>

      <% @announcements.each do |a| %>
        <div>
          <h3><%= a.title %></h3>
          <h5><%= a.date %></h5>
          <p><%= a.contents %></p>
        </div>
      <% end %>
      <hr>
      <h4>AY16/17 Sem 2 Week 7</h4>
      <h4>4/16 duty hours this week.</h4>
    </div>

    <ul class="pagination" id="duty-pagination">
      <li class="page-item">
        <a class="page-link" href="#">Prev Week</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next Week</a>
      </li>
    </ul>
    <div class="form-group hidden-xs">
      <div>
        <label for="go-to-date">Go to date:</label>
        <input name="go-to-date" type="date" class="form-control"/>
      </div>
    </div>
    <h4>Next duty: Wed 22/2 0800-1000</h4>
  </div>

  <div class="col-sm-9">
    <div class="table-responsive">
      <table class="table table-condensed timetable">
        <tr>
          <th class="last-row-in-day"></th>

          <% step = 1.hour %>
          <% (@start_time.to_i..@end_time.to_i).step(step).each do |time| %>
            <% if time == @end_time.to_i %>
              <th class="last-time last-row-in-day"><%= Time.at(time).strftime('%H%M') %></th>
            <% else %>
              <th colspan="<%= step / TimeRange::TIME_SNAP %>" class="last-row-in-day"><%= Time.at(time).strftime('%H%M') %></th>
            <% end %>
          <% end %>
        </tr>

        <% Timeslot.days.keys.each do |day| %>
          <% Place.all.each_with_index do |place, idx| %>
            <tr <%= 'class=last-row-in-day' if idx == Place.count - 1 %>>
              <% if idx == 0 %>
                <td class="duty-day" rowspan="<%= Place.count %>">
                  <%= day[0..2] %>
                  <br>
                  1 Jan
                </td>
              <% end %>

              <td class="duty-place"><%= place.name %></td>
              <% timeslots = Timeslot.where(day: day, place: place)
                .includes(:time_range).order('time_ranges.start') %>

              <% if timeslots.empty? %>
                <% offset = (@end_time - @start_time) / TimeRange::TIME_SNAP %>
              <% else %>
                <% offset = (timeslots.first.time_range.start - @start_time) / TimeRange::TIME_SNAP %>
              <% end %>

              <% unless offset.zero? %>
                <td colspan="<%= offset %>" class="offset-cell"></td>
              <% end %>

              <% timeslots.each do |ts| %>
                <% range = (ts.time_range.end - ts.time_range.start) / TimeRange::TIME_SNAP %>
                <td colspan="<%= range %>" class="duty-cell"><%= "#{ts.default_user.name}" %></td>
              <% end %>

              <% unless timeslots.empty? %>
                <% last_offset = (@end_time - timeslots.last.time_range.end) / TimeRange::TIME_SNAP %>
                <% unless last_offset.zero? %>
                  <td colspan="<%= last_offset %>" class="offset-cell"></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
