<h1>Add User</h1>

<%= simple_form_for(@user, url: users_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, required: true, autofocus: true %>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :name, required: true %>
    <%= f.input :matric_number, required: true %>
    <%= f.input :phone_number, required: true %>
    <%= f.input :cell, required: true %>
    <%= f.input :position, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Add' %>
  </div>
<% end %>
